.wrap{
	position: relative;
	background-color: inherit;
}

.ph{
	transition: all .1s;
	position: absolute;
	left: .6em;
    font-size: .82rem;
    top: .25em;
    padding-top: .35em;
	pointer-events: none;
	clip-path: polygon(0 0, 100% 33%, 100% 100%, 0% 100%);
	color: var(--text-mid-color);
}

.input{
	padding: .5em;
	border: .0625rem solid var(--text-color);
	border-radius: .5625rem;
	outline: none;
	color: var(--text-color);
}

.input:focus + .ph,
.input:not(:placeholder-shown) + .ph{
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
	padding: 0 .25rem;
	top: -.45em;
	transform: scale(.7);
	transform-origin: top left;
	color: var(--text-color);
}

.input,
.ph{
	background: inherit;
    font-size: .82rem;
}
